:root{
	/*Basic*/
	--blackp: #000;/*0,0,0*/
	--whitep: #fff;/*255,255,255*/
	/*Color*/
	--redp: #ef3232;/*239,50,50*/
	--purpleltp: #b39ddb;/*179,157,219*/
	--purplep: #9575cd;/*149,117,205*/
	--limep: #d6e03e;/*214,224,62*/
	--greenltp: #dce775;/*220,231,117*/
	--greenp: #8cab3c;/*140,171,60*/
	/*Grays*/
	--grayltp: #989898;/*152,152,152*/
	--grayp: #636363;/*99,99,99*/
	--graydkp: #222;
	
	/*Other*/
	--mainfont: 'war-god', sans-serif;	
	--headfootback: var(--purplep);
}
.dis{
	min-height: 50px;
}
#pizza{
	width:300px;
	height: 300px;
	background:
	url(images/bases/pizza.png)
}

/*___________Code in testing progress for learning_____________*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*________________________________________________________*/

/*Nav: not yet put in*/
.navbar{
	padding: 0;
	margin: 0;
	background: var(--headfootback);
	height:55px;
	width: 100%;
	position: fixed;
	bottom:0;
	display: flex;
	flex-direction: row;
}
.navbar-brand{
	display: inline-flex;
	margin: 2px 4px;
	background-image: url('images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 0;
	width: 75px;
	min-width: 75px;
	max-width: 75px;
	min-height: 51px;
	max-height: 51px;
}
.navbar-nav{
	display: inline-flex;
	padding: 0;
	margin: 0;
}
.nav-item{
	display:inline-block;
	min-width: 75px;
	text-align: center;
	padding: 0;
	margin: 0;
}
.nav-links{
	min-height: 35px;
	max-height: 35px;
	padding: 0;
	margin: 0;
	padding-top: 25%;
	color: var(--whitep);
}
.nav-links:hover{
	
}

/*Body*/
html{
	background-color: var(--htmlback);
	font-family: var(--mainfont);
	min-width: 400px;
	padding: 0;
}
body, .body{
	margin: 0;
	padding: 0;
/*	padding-top: 55px;*/
	background-color: transparent;
}
.home{
	min-height: 100vh;
/*	calc(100vh - 55px);*/
	max-height: 100vh;
/*	calc(100vh - 55px);*/
    background: linear-gradient(white, white, white, #222);
	overflow: scroll;
}
.main{
	padding: 15px 0;
	margin: 0 auto;
	width: 80%;
	min-width: 400px;
	background-color: var(--mainback);
}

/*Buttons*/
.btn-topping{
	background: #272;
	border-color: #272;
	color: white;
	padding: .5em 0;
	padding-left: 1em;
	text-align: left;	
	min-width: 120px;
	max-width: 120px;
	cursor: pointer;
	border-radius: 5px;
}
.btn{
	background-color: var(--steelgraylt);
	border: 3px solid var(--steelgraydk);
	border-radius: 6px;
	padding: .25em 1em;
	font-weight: 600;
	color: white;
	transition: 0.5s;
}
.btn:hover{
	cursor: pointer;
	background-color: var(--grapen);
}

hr{
	border: none;
	border-top: 1px outset white;
	border-bottom: 1px outset white;
	border-radius: 3px;
}
a{
	color: var(--limep);
}
a:hover{
	color: var(--greenp);
}
a:active{
	color: var(--purplep);
}
p{
	padding: 0 1em;
	margin: 0;
}
label{
	font-weight: 700;	
}

/*collapsing menus*/
.collapse-menu{
	overflow: hidden;
	height:0;
}


/*Add-on classes*/
.box{
	margin: 15px 10px;
	padding: 10px 5px;
}
.curve-border{
	border-radius: 50px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
/*	border-top-right-radius: 50px;*/
	
}
.border{
	border: 3px solid black;
}
.border-h{
	border: none;
	border-top: 3px solid black;	
	border-bottom: 3px solid black;
}
.border-v{
	border: none;
	border-right: 3px solid black;	
	border-left: 3px solid black;	
}
.hr-v{
	border: none;
	border-right: 1px outset white;
	border-left: 1px outset white;
	border-radius: 3px;	
	height: 100%;
	min-height: 50px;
	width: 0;
	display: inline;
	margin: 1px 5px;
}

.align-r{text-align: right;}
.center{text-align: center;}
.text-shadow{text-shadow: 3px 0.5px 4px var(--blackp);}
.box-shadow{box-shadow: 3px 4px 8px 2px rgba(0,0,0,0.4);}
.grad {background: linear-gradient(rgba(0,0,0,0), #2b2929);}
/*color classes*/
.color-b{		color: var(--blackp);}
.color-w{		color: var(--whitep);}
.color-pur{		color: var(--purplep);}
.color-purlt{	color: var(--purpleltp);}
.color-red{		color: var(--redp);}
.color-green{	color: var(--greenp);}
.color-greenlt{	color: var(--greenltp);}
.color-lime{	color: var(--limep);}
.color-gray{	color: var(--grayp);}
.color-graylt{	color: var(--grayltp);}
.color-graydk{	color: var(--graydkp);}
/*color backgrounds*/
.back-b{		background-color: var(--blackp);}
.back-w{		background-color: var(--whitep);}
.back-pur{		background-color: var(--purplep);}
.back-purlt{	background-color: var(--purpleltp);}
.back-red{		background-color: var(--redp);}
.back-green{	background-color: var(--greenp);}
.back-greenlt{	background-color: var(--greenltp);}
.back-lime{		background-color: var(--limep);}
.back-gray{		background-color: var(--grayp);}
.back-graylt{	background-color: var(--grayltp);}
.back-graydk{	background-color: var(--graydkp);}
/*border colors*/
.border-b{		border-color: var(--blackp);}
.border-w{		border-color: var(--whitep);}
.border-pur{	border-color: var(--purplep);}
.border-purlt{	border-color: var(--purpleltp);}
.border-red{	border-color: var(--redp);}
.border-green{	border-color: var(--greenp);}
.border-greenlt{border-color: var(--greenltp);}
.border-lime{	border-color: var(--limep);}
.border-gray{	border-color: var(--grayp);}
.border-graylt{	border-color: var(--grayltp);}
.border-graydk{	border-color: var(--graydkp);}

